In [3]:
import pandas as pd
import numpy as np

In [10]:
csv_file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week3\project\Data\GDP_growth\real-gdp-growth.csv'
df_gdp_rate_original = pd.read_csv(csv_file_path)
df_gdp_rate = df_gdp_rate_original.copy()
df_gdp_rate.rename(columns={'Entity': 'country', 'Gross domestic product, constant prices - Percent change - Observations' : 'gdp_change_%_observation', 'Gross domestic product, constant prices - Percent change - Forecasts' : 'gdp_change_%_forecast', 'Year' : 'year'}, inplace=True)

df_gdp_rate.head(50)

        country Code  year  gdp_change_%_observation  gdp_change_%_forecast
0   Afghanistan  AFG  2003                     8.692                    NaN
1   Afghanistan  AFG  2004                     0.671                    NaN
2   Afghanistan  AFG  2005                    11.830                    NaN
3   Afghanistan  AFG  2006                     5.361                    NaN
4   Afghanistan  AFG  2007                    13.340                    NaN
5   Afghanistan  AFG  2008                     3.863                    NaN
6   Afghanistan  AFG  2009                    20.585                    NaN
7   Afghanistan  AFG  2010                     8.438                    NaN
8   Afghanistan  AFG  2011                     6.479                    NaN
9   Afghanistan  AFG  2012                    13.968                    NaN
10  Afghanistan  AFG  2013                     5.683                    NaN
11  Afghanistan  AFG  2014                     2.697                    NaN
12  Afghanistan  AFG  2015                     0.988                    NaN
13  Afghanistan  AFG  2016                     2.164                    NaN
14  Afghanistan  AFG  2017                     2.647                    NaN
15  Afghanistan  AFG  2018                     1.189                    NaN
16  Afghanistan  AFG  2019                     3.912                    NaN
17  Afghanistan  AFG  2020                    -2.351                    NaN
18  Afghanistan  AFG  2021                   -20.737                -20.737
19      Albania  ALB  1980                     2.684                    NaN
20      Albania  ALB  1981                     5.700                    NaN
21      Albania  ALB  1982                     2.900                    NaN
22      Albania  ALB  1983                     1.100                    NaN
23      Albania  ALB  1984                     2.000                    NaN
24      Albania  ALB  1985                    -1.500                    NaN
25      Albania  ALB  1986                     5.600                    NaN
26      Albania  ALB  1987                    -0.800                    NaN
27      Albania  ALB  1988                    -1.400                    NaN
28      Albania  ALB  1989                     9.800                    NaN
29      Albania  ALB  1990                   -10.000                    NaN
30      Albania  ALB  1991                   -28.000                    NaN
31      Albania  ALB  1992                    -7.200                    NaN
32      Albania  ALB  1993                     9.600                    NaN
33      Albania  ALB  1994                     9.400                    NaN
34      Albania  ALB  1995                     8.900                    NaN
35      Albania  ALB  1996                     9.100                    NaN
36      Albania  ALB  1997                   -10.924                    NaN
37      Albania  ALB  1998                     8.829                    NaN
38      Albania  ALB  1999                    12.891                    NaN
39      Albania  ALB  2000                     6.946                    NaN
40      Albania  ALB  2001                     8.293                    NaN
41      Albania  ALB  2002                     4.537                    NaN
42      Albania  ALB  2003                     5.529                    NaN
43      Albania  ALB  2004                     5.515                    NaN
44      Albania  ALB  2005                     5.526                    NaN
45      Albania  ALB  2006                     5.903                    NaN
46      Albania  ALB  2007                     5.983                    NaN
47      Albania  ALB  2008                     7.500                    NaN
48      Albania  ALB  2009                     3.354                    NaN
49      Albania  ALB  2010                     3.707                    NaN

In [5]:
csv_file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week3\project\Data\Education\OUP_long_MF2564_v1.csv'
df_edu_original = pd.read_csv(csv_file_path)
df_edu = df_edu_original.copy()
df_edu = df_edu.drop(columns=['BLcode', 'WBcode' , 'region_code', 'sex'] , errors='ignore')

df_edu['yr_sch_%'] = df_edu.groupby('country')['yr_sch'].pct_change() * 100
df_edu['yr_sch_pri_%'] = df_edu.groupby('country')['yr_sch_pri'].pct_change() * 100
df_edu['yr_sch_sec_%'] = df_edu.groupby('country')['yr_sch_sec'].pct_change() * 100
df_edu['yr_sch_ter_%'] = df_edu.groupby('country')['yr_sch_ter'].pct_change() * 100
df_edu['lp_%'] = df_edu.groupby('country')['lp'].pct_change() * 100
df_edu['lpc_%'] = df_edu.groupby('country')['lpc'].pct_change() * 100
df_edu['lsc_%'] = df_edu.groupby('country')['lsc'].pct_change() * 100
df_edu['lhc_%'] = df_edu.groupby('country')['lhc'].pct_change() * 100
df_edu['pop_%'] = df_edu.groupby('country')['pop'].pct_change() * 100

df_edu = df_edu[df_edu['year'] >= 1980]

In [6]:
merged_df = pd.merge(df_gdp_rate, df_edu, on=['country', 'year'], how='inner')
merged_df = merged_df.drop(columns=['BLcode', 'WBcode' , 'region_code', 'sex', 'Code', 'gdp_change_%_forecast'] , errors='ignore')

# merged_df['yr_sch_%'] = merged_df.groupby('country')['yr_sch'].pct_change() * 100
# merged_df['yr_sch_pri_%'] = merged_df.groupby('country')['yr_sch_pri'].pct_change() * 100
# merged_df['yr_sch_sec_%'] = merged_df.groupby('country')['yr_sch_sec'].pct_change() * 100
# merged_df['yr_sch_ter_%'] = merged_df.groupby('country')['yr_sch_ter'].pct_change() * 100
# merged_df['lp_%'] = merged_df.groupby('country')['lp'].pct_change() * 100
# merged_df['lpc_%'] = merged_df.groupby('country')['lpc'].pct_change() * 100
# merged_df['lsc_%'] = merged_df.groupby('country')['lsc'].pct_change() * 100
# merged_df['lhc_%'] = merged_df.groupby('country')['lhc'].pct_change() * 100
# merged_df['pop_%'] = merged_df.groupby('country')['pop'].pct_change() * 100

pd.set_option('display.max_columns', None)
merged_df.set_index('country', inplace=True)
merged_df.head(10)

,year,gdp_change_%_observation,agefrom,ageto,lu,lp,lpc,ls,lsc,lh,lhc,yr_sch,yr_sch_pri,yr_sch_sec,yr_sch_ter,pop,yr_sch_%,yr_sch_pri_%,yr_sch_sec_%,yr_sch_ter_%,lp_%,lpc_%,lsc_%,lhc_%,pop_%
country,,,,,,,,,,,,,,,,,,,,,,,,,
Albania,1980,2.684,25,64,27.0,30.4,22.5,37.2,15.2,5.4,3.3,5.51,3.33,2.01,0.17,1001,26.376147,31.102362,18.934911,30.769231,-9.253731,-5.462185,35.714286,32.000000,16.939252
Albania,1985,-1.500,25,64,18.9,25.9,19.4,49.2,20.8,6.0,4.0,6.81,4.19,2.42,0.20,1175,23.593466,25.825826,20.398010,17.647059,-14.802632,-13.777778,36.842105,21.212121,17.382617
Albania,1990,-10.000,25,64,12.8,22.3,17.0,58.3,25.7,6.6,4.4,7.91,5.15,2.55,0.22,1395,16.152717,22.911695,5.371901,10.000000,-13.899614,-12.371134,23.557692,10.000000,18.723404
Albania,1995,8.900,25,64,15.4,16.0,12.7,61.9,27.0,6.6,4.4,8.15,5.41,2.52,0.22,1415,3.034134,5.048544,-1.176471,0.000000,-28.251121,-25.294118,5.058366,0.000000,1.433692
Albania,2000,6.946,25,64,0.6,14.9,12.5,76.6,33.1,8.0,5.4,9.85,6.57,3.01,0.27,1399,20.858896,21.441774,19.444444,22.727273,-6.875000,-1.574803,22.592593,22.727273,-1.130742
Albania,2005,5.526,25,64,1.1,9.2,8.5,85.0,38.5,4.8,3.2,10.20,6.97,3.07,0.16,1444,3.553299,6.088280,1.993355,-40.740741,-38.255034,-32.000000,16.314199,-40.740741,3.216583
Albania,2010,3.707,25,64,1.5,4.2,4.1,92.4,46.8,1.9,1.2,10.55,7.32,3.17,0.06,1540,3.431373,5.021521,3.257329,-62.500000,-54.347826,-51.764706,21.558442,-62.500000,6.648199
Algeria,1980,-5.400,25,64,67.7,23.6,3.7,7.7,5.4,1.0,0.6,1.91,1.34,0.54,0.03,5793,44.696970,39.583333,58.823529,50.000000,33.333333,15.625000,58.823529,100.000000,21.829653
Algeria,1985,5.600,25,64,58.0,29.5,10.5,10.4,7.6,2.1,1.3,2.81,1.95,0.79,0.07,6881,47.120419,45.522388,46.296296,133.333333,25.000000,183.783784,40.740741,116.666667,18.781288
Algeria,1990,0.800,25,64,47.9,34.4,13.9,14.2,10.7,3.5,2.2,3.76,2.51,1.13,0.12,8334,33.807829,28.717949,43.037975,71.428571,16.610169,32.380952,40.789474,69.230769,21.116117

In [7]:
print('gdp_change_%_observation' in merged_df.columns)
print('lhc_%' in merged_df.columns)

True
True

In [8]:
merged_df.dropna(subset=['gdp_change_%_observation', 'lhc_%'], inplace=True)

# Calculate correlation
correlation = merged_df['gdp_change_%_observation'].corr(merged_df['lhc_%'])
print(correlation)

nan