In [34]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [35]:
csv_file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week3\project\Data\Literacy\literacy-rate-adults.csv'
df_lit_original= pd.read_csv(csv_file_path)
df_lit = df_lit_original.copy()
df_lit = df_lit[df_lit['Year'] >= 1991]
df_lit.columns

Index(['Entity', 'Code', 'Year',
       'Literacy rate, adult total (% of people ages 15 and above)'],
      dtype='object')

In [36]:
csv_file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week3\project\Data\Unemployment\unemployment-rate.csv'
df_un_original = pd.read_csv(csv_file_path)
df_un = df_un_original.copy()
df_un['Year'].unique()

array([1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021], dtype=int64)

In [41]:
merged_df = pd.merge(df_lit, df_un, on=['Entity', 'Year'], how='inner')
merged_df = merged_df.drop(columns=['Code_x', 'Code_y'] , errors='ignore')
merged_df.rename(columns={'Entity': 'country', 'Literacy rate, adult total (% of people ages 15 and above)' : 'literacy_rate_%','Unemployment, total (% of total labor force) (modeled ILO estimate)' : 'unemployment_rate_%', 'Year' : 'year'}, inplace=True)
grouped_df = merged_df.groupby(['country', 'year']).agg({'literacy_rate_%': 'first', 'unemployment_rate_%' : 'first'})
grouped_df.head(40)

                  literacy_rate_%  unemployment_rate_%
country     year
Afghanistan 2011         31.44885               11.054
            2021         37.26604               13.283
Albania     2001         98.71298               18.575
            2008         95.93864               13.060
            2011         96.84530               13.480
            2012         97.24697               13.380
            2018         98.14115               12.300
            2021         98.45000               11.819
Algeria     2002         69.87350               25.900
            2006         72.64868               12.270
            2008         75.13605               11.330
            2018         81.40784               10.420
Angola      2001         67.40542                4.004
            2014         66.03011                7.372
            2021         72.28000                8.530
Argentina   1991         96.04072                5.440
            2001         97.19331               17.320
            2006         98.61080               10.080
            2009         98.98342                8.650
            2010         98.95497                7.710
            2011         99.10833                7.180
            2012         99.10523                7.220
            2013         99.12195                7.100
            2014         98.99389                7.270
            2015         99.17996                7.521
            2016         99.12501                8.111
            2018         99.00387                9.220
Armenia     2001         99.40016               10.912
            2011         99.74441               18.440
            2016         99.74441               17.620
            2017         99.73607               17.700
            2020         99.78861               21.206
Azerbaijan  1999         98.79180               10.900
            2007         99.59319                6.330
            2009         99.75984                5.740
            2010         99.77114                5.630
            2011         99.77863                5.420
            2012         99.77577                5.190
            2013         99.78936                4.970
            2014         99.78899                4.910

In [38]:
correlation = merged_df['literacy_rate_%'].corr(merged_df['unemployment_rate_%'])
#correlation = merged_df['gdp_%_change'].corr(merged_df['pop_%'])
print(correlation)

0.23263058185437377

In [39]:
grouped_country = merged_df.groupby('country')

for country, group_df in grouped_country:
    correlation = group_df['literacy_rate_%'].corr(group_df['unemployment_rate_%'])
    print(f"Correlation for {country}: {correlation}")

Correlation for Afghanistan: 1.0
Correlation for Albania: 0.3400196180073915
Correlation for Algeria: -0.7340360797384556
Correlation for Angola: 0.5324294728664845
Correlation for Argentina: -0.24243482393867458
Correlation for Armenia: 0.9640249301185612
Correlation for Azerbaijan: -0.990346665525529
Correlation for Bahrain: 0.9328928468419743
Correlation for Bangladesh: 0.819793667172158
Correlation for Barbados: 1.0197431391105749e-16
Correlation for Belarus: -0.733502430621145
Correlation for Belize: -0.21356580861944507
Correlation for Benin: 0.1259455407473662
Correlation for Bhutan: 0.5673363962736924
Correlation for Bolivia: 0.17700114475119386
Correlation for Bosnia and Herzegovina: 0.4143072059037442
Correlation for Botswana: 0.7236588539476246
Correlation for Brazil: 0.4896457921912556
Correlation for Brunei: 0.9300414579634252
Correlation for Bulgaria: -0.9948373622542251
Correlation for Burkina Faso: 0.9125797253377399
Correlation for Burundi: 0.5282228174975808
Correlation for Cambodia: -0.6851865594903203
Correlation for Cameroon: -0.5580808291593626
Correlation for Cape Verde: 0.7322430359288519
Correlation for Central African Republic: -0.33967856018940523
Correlation for Chad: 0.4041636419414235
Correlation for Chile: 0.6597449644901718
Correlation for China: 0.9079048577794185
Correlation for Colombia: 0.056781051784685975
Correlation for Comoros: -0.4126237123410674
Correlation for Congo: 0.6710848880027053
Correlation for Costa Rica: 0.7768406097339641
Correlation for Cote d'Ivoire: -0.4647746388540562
Correlation for Croatia: -0.14952063599418094
Correlation for Cuba: 0.8377335897882099
Correlation for Cyprus: 0.9080280624852315
Correlation for Democratic Republic of Congo: 0.8924995992008065
Correlation for Dominican Republic: 0.7249595643861176
Correlation for East Asia and Pacific (WB): 0.851574188873442
Correlation for East Timor: 0.8134392041735231
Correlation for Ecuador: 0.3643906896679204
Correlation for Egypt: 0.4384516834467756
Correlation for El Salvador: -0.726040002010736
Correlation for Equatorial Guinea: 1.0
Correlation for Eritrea: 0.30236150594826106
Correlation for Estonia: -0.511370069299735
Correlation for Eswatini: -0.2723646114739118
Correlation for Ethiopia: -0.7606261703386434
Correlation for Europe and Central Asia (WB): -0.5513725565305571
Correlation for Gabon: 0.9579866659306436
Correlation for Gambia: 0.8678223295359363
Correlation for Georgia: -0.0353683458580284
Correlation for Ghana: -0.9669692396873648
Correlation for Greece: 0.9136584887946555
Correlation for Guam: nan
Correlation for Guatemala: 0.31581828178733984
Correlation for Guinea: 0.8450539819888859
Correlation for Guinea-Bissau: 0.6578054181318149
Correlation for Guyana: 0.9923613390522322
Correlation for Haiti: -0.720178949822917
Correlation for Honduras: 0.7540534401961002
Correlation for Hungary: nan
Correlation for India: -0.8346318691364772
Correlation for Indonesia: -0.9195454545981577
Correlation for Iran: 0.27082647798663007
Correlation for Iraq: 0.8328294123536766
Correlation for Italy: 0.4117576883883789
Correlation for Jamaica: -0.9999999999999999
Correlation for Jordan: 0.44005792131948945
Correlation for Kazakhstan: -0.9952111489997877
Correlation for Kenya: 0.5574950095145821
Correlation for Kuwait: 0.7045056525960024
Correlation for Kyrgyzstan: -0.8480075810801799
Correlation for Laos: -0.3889284731264642
Correlation for Latin America and Caribbean (WB): 0.13265173002955666
Correlation for Latvia: -0.3832220356616141
Correlation for Lebanon: 0.7458683841453031
Correlation for Lesotho: 0.7438737364987104
Correlation for Liberia: 1.0
Correlation for Libya: -1.0
Correlation for Lithuania: -0.67845570680465
Correlation for Low-income countries: 0.5896509681280773
Correlation for Lower-middle-income countries: 0.21242021211007395
Correlation for Macao: -0.9126516756378027
Correlation for Madagascar: -0.21498300515559923
Correlation for Malawi: 0.7459765087353573
Correlation for Malaysia: -0.27012941026635323
Correlation for Maldives: 0.9741630021821618
Correlation for Mali: 0.3601946734940091
Correlation for Malta: -0.6148355271647165
Correlation for Mauritania: 0.7323706674159348
Correlation for Mauritius: -0.9244959846758206
Correlation for Mexico: 0.42720355563390117
Correlation for Middle East and North Africa (WB): -0.6993031575099231
Correlation for Middle-income countries: 0.6556718057269132
Correlation for Moldova: -0.99316760232576
Correlation for Mongolia: 0.9970914395423124
Correlation for Montenegro: -0.5345732664207798
Correlation for Morocco: -0.4789651239029901
Correlation for Mozambique: 0.9481205401644752
Correlation for Myanmar: -0.9642688690245467
Correlation for Namibia: -0.012462204325759688
Correlation for Nepal: 0.7683391065608585
Correlation for New Caledonia: -0.988320293884448
Correlation for Nicaragua: -0.8269951396843274
Correlation for Niger: -0.2950382584579268
Correlation for Nigeria: 0.236692837825326
Correlation for North America (WB): -0.9992018183146917
Correlation for North Korea: nan
Correlation for North Macedonia: -0.23659168816593024
Correlation for Oman: -0.8312924078232726
Correlation for Pakistan: 0.5799825841650927
Correlation for Palestine: 0.8118936744381479
Correlation for Panama: 0.553436856351007
Correlation for Papua New Guinea: -1.0
Correlation for Paraguay: -0.05668942216406956
Correlation for Peru: -0.20806865499542085
Correlation for Philippines: -0.5103699269538052
Correlation for Poland: -0.9039386964650069
Correlation for Portugal: 0.4640948986318999
Correlation for Puerto Rico: -0.9547797757509535
Correlation for Qatar: -0.8618557026082526
Correlation for Romania: -0.8458693832962584
Correlation for Russia: -0.7658102045997363
Correlation for Rwanda: 0.9375567573258907
Correlation for Samoa: 0.9091823234067983
Correlation for Sao Tome and Principe: -0.1899164575957418
Correlation for Saudi Arabia: 0.06332454413175963
Correlation for Senegal: -0.34942685640082105
Correlation for Serbia: -0.37807975097134133
Correlation for Sierra Leone: 0.7307983697505704
Correlation for Singapore: -0.0034209291093978463
Correlation for Slovenia: 0.3204638942491459
Correlation for Solomon Islands: nan
Correlation for South Africa: -0.6618695935138078
Correlation for South Asia (WB): 0.2559313373259072
Correlation for South Korea: 1.0
Correlation for South Sudan: 1.0
Correlation for Spain: 0.2570897379321767
Correlation for Sri Lanka: -0.5892093042663841
Correlation for Sub-Saharan Africa (WB): -0.1754494659102819
Correlation for Sudan: 0.5588924608418827
Correlation for Suriname: -0.265149243170544
Correlation for Syria: -0.4947651099998245
Correlation for Tajikistan: -0.9939063079219905
Correlation for Tanzania: -0.4125594775956271
Correlation for Thailand: -0.39927391756757535
Correlation for Togo: -0.36613402162255265
Correlation for Tonga: 0.5029585164276156
Correlation for Trinidad and Tobago: -0.9999999999999999
Correlation for Tunisia: 0.5790041974792772
Correlation for Turkey: 0.13540586475448246
Correlation for Turkmenistan: -0.8578428812792137
Correlation for Uganda: 0.5050055438414587
Correlation for Ukraine: -0.909703076570547
Correlation for United Arab Emirates: -0.002019035864537055
Correlation for Upper-middle-income countries: 0.8103785209973556
Correlation for Uruguay: -0.7021134074753255
Correlation for Uzbekistan: -0.9892590248263511
Correlation for Vanuatu: 0.7708694730945689
Correlation for Venezuela: -0.8393833957592222
Correlation for Vietnam: -0.6720381245713368
Correlation for World: 0.4186015785346445
Correlation for Yemen: 1.0
Correlation for Zambia: 0.3203458034280038
Correlation for Zimbabwe: -0.3830288188032679

C:\Users\gijsv\onedrive\documenten\ironhack\week3\project\project_1_env\lib\site-packages\numpy\lib\function_base.py:2846: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\gijsv\onedrive\documenten\ironhack\week3\project\project_1_env\lib\site-packages\numpy\lib\function_base.py:2705: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

In [40]:
missing_values = merged_df.isnull().sum()
df_clean = merged_df.dropna()

X = df_clean['literacy_rate_%']
y = df_clean['unemployment_rate_%']

X = sm.add_constant(X)

model = sm.OLS(y, X).fit()

print(model.summary())

                             OLS Regression Results
===============================================================================
Dep. Variable:     unemployment_rate_%   R-squared:                       0.054
Model:                             OLS   Adj. R-squared:                  0.053
Method:                  Least Squares   F-statistic:                     71.23
Date:                 Tue, 05 Mar 2024   Prob (F-statistic):           8.72e-17
Time:                         21:47:52   Log-Likelihood:                -3857.2
No. Observations:                 1247   AIC:                             7718.
Df Residuals:                     1245   BIC:                             7729.
Df Model:                            1
Covariance Type:             nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               1.9574      0.669      2.928      0.003       0.646       3.269
literacy_rate_%     0.0679      0.008      8.440      0.000       0.052       0.084
==============================================================================
Omnibus:                      405.878   Durbin-Watson:                   0.435
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1161.292
Skew:                           1.673   Prob(JB):                    6.74e-253
Kurtosis:                       6.341   Cond. No.                         367.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.