In [1]:
import pandas as pd
import numpy as np

In [6]:
csv_file_path = r'C:\Users\gijsv\OneDrive\Documenten\Ironhack\week3\project\Data\Literacy\literacy-rate-adults.csv'
df = pd.read_csv(csv_file_path)
df = df[df['Year'] >= 1980]
df['Year'].unique()

array([2011, 2021, 2001, 2008, 2012, 2018, 1987, 2002, 2006, 1980, 2014,
       2015, 1991, 2009, 2010, 2013, 2016, 1989, 2017, 2020, 2000, 1999,
       2007, 2019, 1981, 1984, 1994, 2004, 1992, 2005, 2003, 1996, 1990,
       1998, 1988, 1993, 1982, 1983, 1985, 1986, 1995, 1997], dtype=int64)

In [7]:
df

,Entity,Code,Year,"Literacy rate, adult total (% of people ages 15 and above)"
1,Afghanistan,AFG,2011,31.44885
2,Afghanistan,AFG,2021,37.26604
3,Albania,ALB,2001,98.71298
4,Albania,ALB,2008,95.93864
5,Albania,ALB,2011,96.84530
...,...,...,...,...
1534,Zimbabwe,ZWE,1982,77.79417
1535,Zimbabwe,ZWE,1992,83.51258
1536,Zimbabwe,ZWE,2011,83.58271
1537,Zimbabwe,ZWE,2014,88.69342
1538,Zimbabwe,ZWE,2021,89.70000